accounts:
  - name: alice
    coins: ["100000000000000udws"]
  - name: bob
    coins: ["1000000000udws"]
build:
  binary: "dewebd"
validator:
  name: bob
  staked: "10000000udws"
client:
  openapi:
    path: "docs/static/openapi.yml"
  vuex:
    path: "vue/src/store"
faucet:
  name: bob
  coins: ["100000udws"]
dns:
  lport: 1053
genesis:
  chain_id: "deweb-testnet-0"
  app_state:
    staking:
      params:
        bond_denom: "udws"
    gov:
      deposit_params:
        min_deposit:
          - amount: "10000000"
            denom: "udws"
    mint:
      minter:
        inflation: "0.000000000000000000"
      params:
        blocks_per_year: "5256000"
        inflation_max: "0.000000000000000000"
        inflation_min: "0.000000000000000000"
        inflation_rate_change: "0.000000000000000000"
        mint_denom: "udws"
    token: 
      params: 
        token_tax_rate: "0.400000000000000000"
        issue_token_base_fee: 
          denom: "dws"
          amount: "1000"
        mint_token_fee_ratio: "0.100000000000000000"
    crisis:
      constant_fee:
        amount: "100000000",
        denom: "udws"
